<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить книгу</title>
</head>
<body>
<h1>Добавить новую книгу</h1>
<form th:action="@{api/v1/save_book}" th:object="${book}" method="post">
    <label>Название: <input type="text" th:field="@{title}" /></label><br/>
    <label>Автор: <input type="text" th:field="@{author}" /></label><br/>
    <label>Жанр: <input type="text" th:field="@{genre}" /></label><br/>
    <label>Год: <input type="number" th:field="@{year}" /></label><br/>
    <label>Описание: <textarea th:field="@{description}"></textarea></label><br/>
    <button type="submit">Сохранить</button>
</form>
<a href="/books">Назад к списку</a>
</body>
</html>
